<section class="ContactInfoContainerComponent">
    <h3 class="ContactInfoContainerTitle">
        Información de Contacto
    </h3>
    <app-contact-info [ContactInfo_Title]="`Dirección`" [ContactInfo_Description]="`Cra. 14 #13-35, Florencia, Caquetá`"
        [ContactInfo_LinkText]="`Ver en mapa`" [ContactInfo_Link]="`https://maps.app.goo.gl/3mdVBjiapTmcV19S6`"
        [ContactInfo_Icon]="`fa-solid fa-thumbtack`" />
    <app-contact-info [ContactInfo_Title]="`Correo Electrónico`"
        [ContactInfo_Description]="`diocesisdeflorencia@gmail.com`" [ContactInfo_Icon]="`fa-solid fa-envelope`" />
    <app-contact-info [ContactInfo_Title]="`Teléfono`" [ContactInfo_Description]="`(608) 434 0933`"
        [ContactInfo_Icon]="`fa-solid fa-phone`" />
    <app-contact-info [ContactInfo_Title]="`Horarios de atención`"
        [ContactInfo_Description]="`Lunes a Viernes: 8:00 AM - 5:00 PM`" [ContactInfo_Icon]="`fa-solid fa-clock`" />
</section>