<section class="ContactFormComponent">
    <h3 class="ContactFormTitle">
        Envíanos un mensaje
    </h3>
    <form class="ContactForm">
        <div class="ContactFormInputGroup">
            <div class="ContactFormInputLabelContainer">
                <input id="NameContactForm" type="text" class="ContactFormInput" placeholder="Tu nombre">
                <label for="NameContactForm" class="ContactFormLabel">Nombre</label>
            </div>
            <div class="ContactFormInputLabelContainer">
                <input id="EmailContactForm" type="email" class="ContactFormInput" placeholder="tu.correo@dominio.com">
                <label for="EmailContactForm" class="ContactFormLabel">Correo electrónico</label>
            </div>
        </div>
        <div class="ContactFormInputLabelContainer">
            <input id="SubjectContactForm" type="text" class="ContactFormInput" placeholder="Asunto del mensaje">
            <label for="SubjectContactForm" class="ContactFormLabel">Asunto</label>
        </div>
        <div class="ContactFormInputLabelContainer ContactFormTextAreaContainer">
            <textarea id="DescriptionContactForm" class="ContactFormInput"
            placeholder="Escribe tu mensaje aquí"></textarea>
            <label for="DescriptionContactForm" class="ContactFormLabel">Mensaje</label>
        </div>
        <input type="submit" class="ContactFormButton">
    </form>
</section>