<article class="NewsCardComponent">
    <span class="NewsCardDate">
        {{News_Date}}
    </span>
    <figure class="NewsCardFIgure">
        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="Imagen Noticia"
            class="NewsCardImage">
    </figure>
    <div class="NewsCardContent">
        <h3 class="NewsCardTitle">{{News_TItile}}</h3>
        <p class="NewsCardDescription">
            {{News_Description}}
        </p>
        <a href="#" class="NewsCardLink">
            Leer más
            <i class="fa-solid fa-chevron-right NewsCardLinkIcon"></i>
        </a>
    </div>
</article>