<section class="SocialNetworksComponent">
    <app-social-network-link [SocialNetworkIcon]="`fa-brands fa-facebook-f`" [SocialNetworkLink]="`#`"
        [SocialNetworkAriaLabel]="`Enlace para ir a la página de Facebook`" [SocialNetworkColor]="SocialNetworkColor" />
    <app-social-network-link [SocialNetworkIcon]="`fa-brands fa-twitter`" [SocialNetworkLink]="`#`"
        [SocialNetworkAriaLabel]="`Enlace para ir al perfil de Twitter (X)`"
        [SocialNetworkColor]="SocialNetworkColor" />
    <app-social-network-link [SocialNetworkIcon]="`fa-brands fa-instagram`" [SocialNetworkLink]="`#`"
        [SocialNetworkAriaLabel]="`Enlace para ir al perfil de Instragram`" [SocialNetworkColor]="SocialNetworkColor" />
    <app-social-network-link [SocialNetworkIcon]="`fa-brands fa-youtube`" [SocialNetworkLink]="`#`"
        [SocialNetworkAriaLabel]="`Enlace para ir al canal de YouTube`" [SocialNetworkColor]="SocialNetworkColor" />
</section>