<section class="SocialNetworksComponent">
    <app-social-network-link [SocialNetworkIcon]="`fa-brands fa-facebook-f`" [SocialNetworkLink]="`#`"
        [SocialNetworkAriaLabel]="`Enlace para ir a la página de Facebook`" />
    <app-social-network-link [SocialNetworkIcon]="`fa-brands fa-twitter`" [SocialNetworkLink]="`#`"
        [SocialNetworkAriaLabel]="`Enlace para ir al perfil de Twitter (X)`" />
    <app-social-network-link [SocialNetworkIcon]="`fa-brands fa-instagram`" [SocialNetworkLink]="`#`"
        [SocialNetworkAriaLabel]="`Enlace para ir al perfil de Instragram`" />
    <app-social-network-link [SocialNetworkIcon]="`fa-brands fa-youtube`" [SocialNetworkLink]="`#`"
        [SocialNetworkAriaLabel]="`Enlace para ir al canal de YouTube`" />
</section>