<article class="RadioCardComponent">
    <h3 class="RadioCardTitle">
        En vivo ahora
    </h3>
    <div class="RadioCardInformationContainer">
        <div class="RadioCardIconContainer">
            <i class="fa-solid fa-tower-broadcast RadioCardIcon"></i>
            <div class="RadioCardLiveIcon"></div>
        </div>
        <div class="RadioCardInformation">
            <span class="RadioName">
                Palabra de vida
            </span>
            <span class="RadioSchedule">
                10:00 - 11:00
            </span>
            <div class="RadioCardDurartionContainer">
                <div class="RadioCardDurartion"></div>
                <span>45:00</span>
            </div>
        </div>
    </div>
    <button type="button" class="RadioCardButton">
        <i class="fa-solid fa-headphones RadioCardButtonIcon"></i>
        Escuchar en vivo
    </button>
</article>