<section class="RadioContainerComponent">
    <div class="RadioContent">
        <div class="RadioImageContainer">
            <figure class="RadioFigure">
                <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
                    alt="Logo Oficina" class="RadioImage">
            </figure>
        </div>
        <div class="RadioInformationContainer">
            <app-office-radio-title [OfficeRadio_Title]="`Emisora Diocesana`"
                [OfficeRadio_Description]="`Nuestra emisora lleva el mensaje de fe y esperanza a toda la región. Disfruta de programación variada con contenido espiritual, cultural y comunitario que enriquece la vida de nuestros oyentes.`" />
            <app-radio-card />
            <div class="RadioButtons">
                <button type="button" class="RadioButton">
                    Programación
                </button>
                <button type="button" class="RadioButton">
                    Podcasts
                </button>
                <button type="button" class="RadioButton">
                    Archivo
                </button>
            </div>
        </div>
    </div>
</section>