.HeaderComponent {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-sizing: border-box;
}

.ArchdioceseNameContent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.HeaderChurchIcon {
  font-size: 3rem;
  text-align: center;
  color: #1e3a8a;
  margin-right: 0.7rem;
}

.ArchdioceseName {
  font-size: 1.5rem;
}
