<section class="BadgeContainerComponent">
    <div class="BadgeContainerImage">
        <figure class="BadgeContainerFigure">
            <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
                alt="Escudo Arquidiócesis" class="BadgeImage">
        </figure>
    </div>
    <div class="BadgeContainerInfo">
        <h3 class="BadgeContainerTitle">
            Escudo Arquidiocesano
        </h3>
        <p class="BadgeContainerDescription">
            Descripción del escudo creado en 2019 al elevarse a arquidiócesis. Cada elemento del escudo tiene un
            significado especial que representa nuestra identidad y misión en la comunidad.
        </p>
        <app-badge-card [BadgeCardTitle]="`La cruz`"
            [BadgeCardDescription]="`Simboliza nuestra fe cristiana y el sacrificio de Cristo.`"
            [BadgeCardColor]="`YellowCard`" />
        <app-badge-card [BadgeCardTitle]="`Las palmas`"
            [BadgeCardDescription]="`Representan la victoria y la paz en nuestra región.`"
            [BadgeCardColor]="`GreenCard`" />
        <app-badge-card [BadgeCardTitle]="`El río`"
            [BadgeCardDescription]="`Simboliza la vida y la abundancia de nuestra tierra.`"
            [BadgeCardColor]="`CyanCard`" />
        <button type="button" class="BadgeContainerButton">
            Ver detalles
        </button>
    </div>

</section>