<section class="ChurchContainerComponent">
    <h3 class="ChurchContainerTitile">
        Nuestras Parroquias
    </h3>
    <div class="ChurchsCardsContainer">
        <app-church-card [CurchCard_Name]="`Parroquia San 1`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia San 2`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia San 3`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia San 4`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia San 5`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia San 6`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia San 7`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia San 8`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia San 9`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
    </div>
    <button type="button" class="ChurchContainerButton">
        Ver todas las Parroquias
    </button>
</section>