<section class="ChurchContainerComponent">
    <h3 class="ChurchContainerTitile">
        Nuestras Parroquias
    </h3>
    <div class="ChurchsCardsContainer">
        <app-church-card [CurchCard_Name]="`Parroquia Cristo Rey`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia Espíritu Santo`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia Divino Niño`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia Nuestra Señora del Carmen`"
            [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia Nuestra Señora de Guadalupe`"
            [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia Sagrada Familia`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia Jesús de Nazareth`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia Jesús de la Misericordia`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
        <app-church-card [CurchCard_Name]="`Parroquia Jesús Buen Pastor`" [CurchCard_Location]="`Ciudad, Región`"
            [CurchCard_description]="`Horarios de misas, servicios y actividades pastorales para toda la comunidad.`" />
    </div>
    <button type="button" class="ChurchContainerButton">
        Ver todas las Parroquias
    </button>
</section>