<section class="EpiscopologioContainerComponent">
    <div class="EpiscopologioContainerInfo">
        <h3 class="EpiscopologioContainerTitle">
            Obispos y Arzobispos
        </h3>
        <p class="EpiscopologioContainerDescription">
            Información sobre los obispos y arzobispos que han liderado la diócesis a lo largo de su historia,
            contribuyendo
            al crecimiento espiritual y comunitario de nuestra región.
        </p>
        <app-episcopologio-card [Bishop_Name]="`Mons. Juan Pérez`" [Bishop_Duration]="`2019 - Presente`" />
        <app-episcopologio-card [Bishop_Name]="`Mons. Pedro Gómez`" [Bishop_Duration]="`2005 - 2019`" />
        <button type="button" class="EpiscopologioContainerButton">
            Ver historia completa
        </button>
    </div>
    <div class="EpiscopologioContainerImage">
        <figure class="EpiscopologioContainerFigure">
            <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
                alt="Logo Oficina" class="EpiscopologioImage">
        </figure>
    </div>
</section>