<section class="OfficeContainerComponent">
    <div class="OfficeContent">
        <div class="OfficeInformationContainer">
            <app-office-radio-title [OfficeRadio_Title]="`Oficina Bíblico-Teológica`"
                [OfficeRadio_Description]="`La Oficina Bíblico-Teológica (OBT) promueve el estudio y la difusión de la Sagrada Escritura y la teología en nuestra comunidad, ofreciendo recursos y formación para el crecimiento espiritual.`" />
            <app-office-card [OfficeCard_Icon]="`fa-solid fa-book-bible`" [OfficeCard_Title]="`Formación Bíblica`"
                [OfficeCard_Description]="`Cursos y talleres para profundizar en el conocimiento de la Biblia.`"
                [OfficeCard_Color]="`BlueCard`" />
            <app-office-card [OfficeCard_Icon]="`fa-solid fa-cross`" [OfficeCard_Title]="`Escuela de Teología`"
                [OfficeCard_Description]="`Programas de formación teológica para laicos y agentes pastorales.`"
                [OfficeCard_Color]="`YellowCard`" />
            <app-office-card [OfficeCard_Icon]="`fa-solid fa-file-lines`" [OfficeCard_Title]="`Recursos Pastorales`"
                [OfficeCard_Description]="`Materiales para la animación bíblica de la pastoral.`"
                [OfficeCard_Color]="`GreenCard`" />
            <button type="button" class="OfficeButton">
                Conocer más
            </button>
        </div>
        <div class="OfficeImageContainer">
            <figure class="OfficeFigure">
                <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
                    alt="Logo Oficina" class="OfficeImage">
            </figure>
        </div>
    </div>
</section>