<nav class="FooterServicesComponent">
    <app-footer-titile [title]="`Servicios`" />
    <ul class="FooterServicestList">
        <li class="FooterServicesListItem">
            <a href="#" class="FooterServicesLink">
                Horarios de Misas
            </a>
        </li>
        <li class="FooterServicesListItem">
            <a href="#" class="FooterServicesLink">
                Sacramentos
            </a>
        </li>
        <li class="FooterServicesListItem">
            <a href="#" class="FooterServicesLink">
                Catequesis
            </a>
        </li>
        <li class="FooterServicesListItem">
            <a href="#" class="FooterServicesLink">
                Pastoral Juvenil
            </a>
        </li>
        <li class="FooterServicesListItem">
            <a href="#" class="FooterServicesLink">
                Pastoral Familiar
            </a>
        </li>
        <li class="FooterServicesListItem">
            <a href="#" class="FooterServicesLink">
                Pastoral Social
            </a>
        </li>
    </ul>
</nav>