<nav class="FooterQuickLinksComponent">
    <app-footer-titile [title]="`Enlaces rápidos`" />
    <ul class="FooterQuickLinksList">
        <li class="FooterQuickLinksListItem">
            <a href="#" class="FooterQuickLinksLink">
                Inicio
            </a>
        </li>
        <li class="FooterQuickLinksListItem">
            <a href="#" class="FooterQuickLinksLink">
                Arquidiócesis
            </a>
        </li>
        <li class="FooterQuickLinksListItem">
            <a href="#" class="FooterQuickLinksLink">
                Trámites
            </a>
        </li>
        <li class="FooterQuickLinksListItem">
            <a href="#" class="FooterQuickLinksLink">
                OBT
            </a>
        </li>
        <li class="FooterQuickLinksListItem">
            <a href="#" class="FooterQuickLinksLink">
                Emisora
            </a>
        </li>
        <li class="FooterQuickLinksListItem">
            <a href="#" class="FooterQuickLinksLink">
                Noticias
            </a>
        </li>
        <li class="FooterQuickLinksListItem">
            <a href="#" class="FooterQuickLinksLink">
                Contacto
            </a>
        </li>
    </ul>
</nav>