<section class="DocumentContainerComponent">
    <h3 class="DocumentContainerTitile">
        Documentos Oficiales
    </h3>
    <div class="DocumentsCardsContainer">
        <app-document-card [DocumentCard_Title]="`Cartas pastorales`"
            [DocumentCard_Description]="`Documentos oficiales emitidos por el Arzobispo dirigidos a la comunidad.`"
            [DocumentCard_Color]="`BlueCard`" />
        <app-document-card [DocumentCard_Title]="`Decretos`"
            [DocumentCard_Description]="`Decretos y disposiciones oficiales de la Arquidiócesis.`"
            [DocumentCard_Color]="`YellowCard`" />
        <app-document-card [DocumentCard_Title]="`Comunicados`"
            [DocumentCard_Description]="`Comunicados oficiales para la comunidad sobre eventos y noticias importantes.`"
            [DocumentCard_Color]="`GreenCard`" />
    </div>
</section>