.DocumentContainerComponent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.DocumentContainerTitile {
  font-size: 2rem;
  color: var(--FirstColor);
}

.DocumentsCardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
