<div class="FooterNewsletterComponent">
    <app-footer-titile [title]="`Boletín`" />
    <span class="FooterNewsletterLegend">
        Suscríbete a nuestro boletín para recibir noticias y actualizaciones.
    </span>
    <div class="FooterNewsletterSubscribeInputContainer">
        <input type="email" placeholder="Tu correo electrónico" class="FooterNewsletterSubscribeInput" />
        <div class="FooterNewsletterSubscribeInputLine"></div>
    </div>
    <button type="button" class="FooterNewsletterSubscribeButton">Suscribirse</button>
</div>