<section class="HomeTitleSection">
    <figure class="HomeTitleSectionFigure">
        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
            alt="Logo Oficina" class="HomeTitleSectionImage">
    </figure>
    <h1 class="HomeTitleMainTitle">
        Arquidiócesis de Florencia
    </h1>
    <span class="HomeTitleDescription">
        Bienvenidos a nuestra comunidad de fe. Juntos en el camino de evangelización y servicio.
    </span>
    <div class="HomeTitleButtons LightButton">
        <button type="button" class="HomeTitleSectionButton">
            Conoce nuestras parroquias
        </button>
        <button type="button" class="HomeTitleSectionButton DarkButton">
            Transmisión en vivo
        </button>
    </div>
</section>
<main class="HomeContent">
    <app-functionalities-container />
    <app-archdiocese-container />
    <app-procedures-container />
    <app-calendar-container />
    <app-office-radio-container />
    <app-news-event-container />
    <app-contact-container />
</main>