<section class="ProceduresContainerComponent">
    <app-section-title [Title]="`Trámites`"
        [Description]="`Gestiona tus trámites eclesiásticos de manera sencilla y eficiente a través de nuestra plataforma digital.`" />
    <div class="ProceduresContainer">
        <app-procedures-card [ProcedureCard_Title]="`Preparación al Sacramento del Matrimonio`"
            [ProcedureCard_Description]="`Orientación para parejas que desean casarse por la Iglesia. Incluye cursos prematrimoniales y documentación necesaria.`"
            [ProcedureCard_Duration]="`Tiempo estimado: 4-6 semanas`" [ProcedureCard_Icon]="`fa-regular fa-heart`"
            [ProcedureCard_ButtonText]="`Iniciar trámite`" [ProcedureCard_Color]="`BlueColor`" />
        <app-procedures-card [ProcedureCard_Title]="`Cursillos de Confirmación`"
            [ProcedureCard_Description]="`Información sobre cursos de preparación para la confirmación, requisitos y fechas disponibles.`"
            [ProcedureCard_Duration]="`Tiempo estimado:  8-10 semanas`" [ProcedureCard_Icon]="`fa-solid fa-users`"
            [ProcedureCard_ButtonText]="`Iniciar trámite`" [ProcedureCard_Color]="`YellowColor`" />
        <app-procedures-card [ProcedureCard_Title]="`Corrección y Autenticación de Partidas`"
            [ProcedureCard_Description]="`Servicios relacionados con documentos eclesiásticos como partidas de bautismo, confirmación y matrimonio.`"
            [ProcedureCard_Duration]="`Tiempo estimado: 1-2 semanas`" [ProcedureCard_Icon]="`fa-solid fa-file-lines`"
            [ProcedureCard_ButtonText]="`Iniciar trámite`" [ProcedureCard_Color]="`GreenColor`" />
        <app-procedures-card [ProcedureCard_Title]="`Proceso de Nulidad Matrimonial`"
            [ProcedureCard_Description]="`Guía sobre cómo solicitar la nulidad de un matrimonio, requisitos y proceso a seguir.`"
            [ProcedureCard_Duration]="`Tiempo estimado: Variable`" [ProcedureCard_Icon]="`fa-solid fa-ring`"
            [ProcedureCard_ButtonText]="`Iniciar trámite`" [ProcedureCard_Color]="`CyanColor`" />
        <app-procedures-card [ProcedureCard_Title]="`Denuncias`"
            [ProcedureCard_Description]="`Canal para reportar situaciones que requieran atención de la arquidiócesis de manera confidencial.`"
            [ProcedureCard_Duration]="`Atención inmediata`" [ProcedureCard_Icon]="`fa-solid fa-gavel`"
            [ProcedureCard_ButtonText]="`Iniciar trámite`" [ProcedureCard_Color]="`BlueColor`" />
        <app-procedures-card [ProcedureCard_Title]="`Asistencia para Trámites`"
            [ProcedureCard_Description]="`¿Necesitas ayuda con algún trámite? Nuestro equipo está disponible para asistirte en el proceso.`"
            [ProcedureCard_Icon]="`fa-solid fa-circle-user`" [ProcedureCard_ButtonText]="`Solicitar asistencia`"
            [ProcedureCard_Color]="`WhiteColor`" />
    </div>
</section>