@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Cal+Sans&family=Geologica:wght@100..900&display=swap");

:root {
  --FirstColor: rgb(30, 58, 138);
  --SecondColor: rgb(104, 151, 202);
  --ThirdColor: rgb(107, 142, 35);
  --FourthColor: rgb(212, 175, 55);
  --MainFont: "Geologica", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--MainFont);
}

html {
  scrollbar-width: none;
}

@media (min-width: 1024px) and (max-width: 1600px) {
  body {
    font-size: 13px;
  }
}
