<nav class="NavigationBar">
  <app-search />
  <a class="NavigationLink" [routerLink]="['/']">
    Inicio
  </a>
  <section class="GroupLinks">
    <a class="NavigationLink" [routerLink]="['/']">
      Nosotros
    </a>
    <i class="fa-solid fa-chevron-down NavigationLinkIcon"></i>
    <article class="LinksGroupLinks">
      <a class="NavigationLink" [routerLink]="['/']">
        Historia
      </a>
      <a class="NavigationLink" [routerLink]="['/']">
        Escudo
      </a>
      <a class="NavigationLink" [routerLink]="['/']">
        Arzobispos
      </a>
    </article>
  </section>
  <section class="GroupLinks">
    <a class="NavigationLink" [routerLink]="['/']">
      Sacramentos
    </a>
    <i class="fa-solid fa-chevron-down NavigationLinkIcon"></i>
    <article class="LinksGroupLinks">
      <a class="NavigationLink" [routerLink]="['/']">
        Matrimonio
      </a>
      <a class="NavigationLink" [routerLink]="['/']">
        Confirmación
      </a>
      <a class="NavigationLink" [routerLink]="['/']">
        Nulidad Matrimonial
      </a>
    </article>
  </section>
  <a class="NavigationLink" [routerLink]="['/']">
    Parroquias
  </a>
  <a class="NavigationLink" [routerLink]="['/']">
    Noticias
  </a>
  <a class="NavigationLink" [routerLink]="['/']">
    Radio
  </a>
  <a class="NavigationLink" [routerLink]="['/']">
    Contacto
  </a>
</nav>