<article class="ChurchcardComponent">
    <figure class="ChurchcardFigure">
        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
            alt="Imagen parroquia" class="ChurchcardImage">
    </figure>
    <div class="ChurchCardInformation">
        <h4 class="ChurchcardName">
            {{CurchCard_Name}}
        </h4>
        <div class="ChurchcardLocationContainer">
            <i class="fa-solid fa-location-dot ChurchcardIcon"></i>
            <span class="ChurchcardLocation">
                {{CurchCard_Location}}
            </span>
        </div>
        <p class="ChurchcardDescription">
            {{CurchCard_description}}
        </p>
        <button type="button" class="ChurchCardButton">
            Ver detalles
        </button>
    </div>
</article>
<!-- Churchcard -->