.SocialNetworksContainerComponent {
  width: 100%;
  background-color: #ffffff;
  padding: 3rem;
  box-sizing: border-box;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.SocialNetworksContainerTitle {
  font-size: 2rem;
  color: var(--FirstColor);
}
