<section class="FunctionalityCardsComponent">
    <app-section-title [Title]="`Funcionalidades Destacadas`" />
    <div class="FunctionalityCardsContainer">
        <app-functionality-card [ClassColorCard]="`BlueCard`" [FuntionalityTitle]="`Transmisiones en Vivo`"
            [FuntionalityDescription]="`Acceso a eventos y celebraciones litúrgicas en tiempo real desde cualquier dispositivo.`"
            [FuntionalityLinkText]="`Ver transmisiones`" [FuntionalityLinkTo]="``"
            [FuntionalityClassIcon]="`fa-solid fa-tower-broadcast`" />
        <app-functionality-card [ClassColorCard]="`YellowCard`" [FuntionalityTitle]="`Trámites en Línea`"
            [FuntionalityDescription]="`Facilita la realización de diversos trámites eclesiásticos de manera virtual y segura.`"
            [FuntionalityLinkText]="`Iniciar trámite`" [FuntionalityLinkTo]="``"
            [FuntionalityClassIcon]="`fa-regular fa-file-lines`" />
        <app-functionality-card [ClassColorCard]="`GreenCard`" [FuntionalityTitle]="`Recursos Pastorales`"
            [FuntionalityDescription]="`Disponibilidad de documentos y planes pastorales para el crecimiento espiritual de la comunidad.`"
            [FuntionalityLinkText]="`Explorar recursos`" [FuntionalityLinkTo]="``"
            [FuntionalityClassIcon]="`fa-regular fa-folder`" />
        <app-functionality-card [ClassColorCard]="`CyanCard`" [FuntionalityTitle]="`Comunicación Directa`"
            [FuntionalityDescription]="`Formulario de contacto y chat para enviar inquietudes, peticiones o sugerencias de forma inmediata.`"
            [FuntionalityLinkText]="`Contactar`" [FuntionalityLinkTo]="``"
            [FuntionalityClassIcon]="`fa-regular fa-comment`" />
    </div>
</section>